* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#grid {
  width: calc(20*22px);
  height: calc(20*22px);
  margin: auto;
}

.snake {
  background-color: rgb(40, 191, 49);
  border: 2px solid rgb(17, 116, 30);
}

#grid div {
  height: 20px;
  width: 20px;
  float: left;
  border: 1px solid black;
  border-radius: 10%;
}
